.product
{
    display: grid;
    grid-template-columns: 400px 400px 400px 400px;
    grid-template-rows: 400px 400px;
    grid-gap: 20px;
    position: relative;
    justify-content: center;
    top: 300px;
}
.product-1
{
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px;
    grid-gap: 10px;
    background-color: white;
    padding: 5px;
}

.product-2
{
    width: 100%;
    height: 100%;
    transition: width 2s,height 2s;
}
.product-2:hover
{
    width: 120%;
    height: 120%;
}
img
{
    width: 90%;
    height: 90%;
    object-fit:cover;
}